<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenidos a MercadoLiebre</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/7a2f3903ee.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <header class="main-header">
            <div class="main-header-top-bar">
                <img class="logo" src="/images/logo-mercado-liebre.svg" class="logo de ML">
                <div class="search">
                    <input type="text" value="Buscar produtos, marcas"/>
                    <!<button type="submit">
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>    
                    Comprá en cuotas y sin tarjeta de crédito.
                </h2>
            </div>

            

            <nav class="main-navbar">

                <ul class="left-navbar">
                    <li><a href="#" target="_blank">Ofertas</a></li>
                    <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
                    <li><a href="#" target="_blank">Vender</a></li>
                    <li><a href="#" target="_blank">Ayuda</a></li>
                </ul>

                <ul class="right-navbar">
                    <li><a href="#" target="_blank">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li> 
                    <li><a href="#" target="_blank">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#" target="_blank">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>

            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        
        </header>
        
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>

        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <div class="products">
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="products">
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>  
            </section>
        </main>

        <footer>

            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="descriptions">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
            
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde los $2500</h3>
            <p class="descriptions">
            Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
            
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p class="descriptions">
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.
            </p>
             
            <h4 class="copy">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
            </h4>

        </footer>

    </body>
</html>