<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
    <script src="https://kit.fontawesome.com/7a2f3903ee.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
            <div class="main-header-top-bar">
                <a href="/">
                <img class="logo" src="/images/logo-mercado-liebre.svg" class="logo de ML">
                </a>
                <div class="search">
                    <input type="text" value="Buscar produtos, marcas"/>
                    <!<button type="submit">
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>    
                    Comprá en cuotas y sin tarjeta de crédito.
                </h2>
            </div>

            <nav class="main-navbar">

                <ul class="left-navbar">
                    <li><a href="#" target="_blank">Ofertas</a></li>
                    <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
                    <li><a href="#" target="_blank">Vender</a></li>
                    <li><a href="#" target="_blank">Ayuda</a></li>
                </ul>

                <ul class="right-navbar">
                    <li><a href="register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li> 
                    <li><a href="login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>

            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    
    </header>

    <main>
        <div class="login-form">
            <form action="/" method="">
                <input type="text" name="name" placeholder="Nombre y apellido">
                <br>
                <input type="password" name="password" placeholder="Escriba su contraseña">
                <br>
                <button type="submit">
                Enviar
                </button>
            </form>
        </div>
    </main>

    <footer>
        <div class="elements-footer">
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="descriptions">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div>   
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde los $2500</h3>
                <p class="descriptions">
                Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div> 
            <div>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p class="descriptions">
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.
                </p>
            </div> 
        </div>
        <h4 class="copy">
        Copyright © 1999-2020 MercadoLiebre S.R.L.
        </h4>
    </footer>

</body>
</html>