<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
    <script src="https://kit.fontawesome.com/7a2f3903ee.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" class="logo de ML">
            <div class="search">
                <input type="text" value="Buscar produtos, marcas"/>
                <!<button type="submit">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>    
                Comprá en cuotas y sin tarjeta de crédito.
            </h2>
        </div>

        <nav class="main-navbar">

            <ul class="left-navbar">
                <li><a href="#" target="_blank">Ofertas</a></li>
                <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
                <li><a href="#" target="_blank">Vender</a></li>
                <li><a href="#" target="_blank">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#" target="_blank">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li> 
                <li><a href="#" target="_blank">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#" target="_blank">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main>
        <div class="register-form">
            <form action="/" method="">
                <input type="text" name="name" placeholder="Nombre y apellido">
                <br>
                <input type="text" name="user" placeholder="Nombre de usuario">
                <br>
                <input type="email" name="email" placeholder="E-Mail">
                <br>
                <label for="date"><b>Fecha de nacimiento</b></label>
                <br>
                <input type="date" name="date" id="date">
                <br>
                <input type="text" name="address" id="address" placeholder="Domicilio">
                <br>
                <label for=""><b>Perfil del usuario</b></label>
                <br>
                <label><input type="radio" value="comprador" name="user-profile" id=""> Comprador</label>
                <label><input type="radio" value="vendedor" name="user-profile" id=""> Vendedor</label>
                <br>
                <label for=""><b>Intereses</b></label>
                <br>
                <label><input type="checkbox" name="electro" value="1"> Electro</label>
                <br>
                <label><input type="checkbox" name="moda" value="2"> Moda</label>
                <br>
                <label><input type="checkbox" name="hogar" value="3"> Hogar</label>
                <br>
                <label><input type="checkbox" name="juguetería" value="4"> Juguetería</label>
                <br>
                <label><input type="checkbox" name="vida-sana" value="5"> Vida Sana</label>
                <br>
                <input type="file" name="photo" id="photo">
                <br>
                <input type="password" name="password" placeholder="Escriba su contraseña">
                <br>
                <input type="password" name="password-confirm" placeholder="Confirme su contraseña">
                <br>
                <button type="submit">
                Enviar
                </button>
                <br>
                <button type="reset">
                Borrar
                </button>

            </form>
        </div>
    </main>

    <footer>

        <i class="fa-solid fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p class="descriptions">
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
        
        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde los $2500</h3>
        <p class="descriptions">
        Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </p>
        
        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad de principio a fin</h3>
        <p class="descriptions">
        ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.
        </p>
         
        <h4 class="copy">
        Copyright © 1999-2020 MercadoLiebre S.R.L.
        </h4>

    </footer>

</body>
</html>