/* ---------- COMIENZA EL CSS --------- */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

/* -------------- HEADER ------------- */

header {
    background-color: #EAC926;
    width: 100%;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.main-navbar {
     display: none
}

section.banner img{
    width: 100%;
}

input {
    padding: 3px;
    margin: 3px;
}

button {
    padding: 3px;
    margin: 5px;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 0;
}

.title {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.logo {
    width: 200px;
    margin-bottom: 15px;
}

.copy-header {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.burger-menu {
    background-color: blue;
    border-radius: 8px;
    color: white;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    text-align: center;
}

.fa-bars {
    margin: 10px auto;
    font-size: 20px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    padding-right: 7px;
}

.search input {
    width: 100%;
    border: none;
}

@media (min-width: 361px) {
    
}

@media (min-width: 768px){
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        
    }
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .burger-menu {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    .search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-left: 5%;
    }
    .search input {
        width: 40vw;
        margin-left: 5%;
        height: 30px;
    }
}

@media (min-width: 1200px){
    .logo {
        width: 200px;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .copy-header {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        font-weight: bold;
    }
    .main-navbar {
        margin-top: 30px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
}

/* --------------- MAIN -------------- */
div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    flex-grow: .3;
    width: 30%;
}

.discount {
    font-size: 16px;
    font-weight: normal;
    color: #39b54a;
    width: 70%;
}

.description {
    font-size: 16px;
    margin-top: 20px;
    font-weight: normal;
    display: none;
}

.main-article {
    border-top: #ebebeb 1px solid;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
    align-items: baseline;
    width: 100%;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    header ul li {
        display: flex;
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
        font-size: 14px;
        font-weight: bold;
    }
    .description {
        font-size: 14px;
        font-weight: bold;
    }
}

@media (min-width: 769px) {
    main section div.products article{
        width: 22%;
    }
    .price,
    .discount{
        width: 50%;
        font-size: 14px;
        font-weight: bold;
    }
    .description {
        font-size: 16px;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .price,
    .discount{
        width: 50%;
        font-size: 18px;
        font-weight: bold;
    }
    .description {
        font-size: 18px;
        font-weight: bold;
    }
}

/* -------------- FOOTER ------------- */

footer {
    text-align: center;
}

.fa-credit-card {
    color: blue;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
} 

.fa-gift {
    color: blue;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-user-shield {
    color: blue;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.copy {
    text-align: left;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
}

@media (min-width: 361px) {
}

@media (min-width: 769px) {
    .elements-footer{
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 12px;
        padding: 2%;
    }
    .elements-footer i:focus{
        color: rgb(239, 116, 71);
    }
}

@media (min-width: 1200px) {   
}